:root {
  --color-yellow: #fce38a;
  --color-light: #e586e8;
  --color-medium: #693782;
  --color-dark: #3f2160;
}

body {
  font-family: 'HappyMonkey', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.title {
  text-align: center;
  color: #333;
  font-family: 'PermanentMarker', sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  padding-top: 80px;
}
.title span {
  display: block;
}
.title .border {
  width: 60px;
  margin: 30px auto;
  border-top: 3px solid var(--color-medium);
}
/* _______________________________________________ */
/* ____________Header_____________ */

#main_header {
  padding-top: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#main_header ul a {
  color: #fff;
  padding: 10px 30px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
}
#main_header ul a:hover{
  color: #fce38a;
}
/* _______________________________________________ */
/* ____________Hero_____________ */

.hero {
  background: url('img/hero.jpg') no-repeat center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 250px 0;
}
.hero h1 {
  font-family: 'BungeeInline', sans-serif;
  font-size: 130px;
  text-transform: uppercase;
  letter-spacing: -6px;
  line-height: 135px;
  margin-bottom: 36px;
}
.hero span {
  width: 280px;
  border-top: 2px solid #fff;
  display: inline-block;
  margin-bottom: 34px;
}
.hero h2 {
  font-family: 'PermanentMarker', sans-serif;
  font-size: 38px;
  margin-bottom: 2rem;
  letter-spacing: 6px;
}
/* _______________________________________________ */
/* ____________Portfolio_____________ */

.portfolio > p {
  text-align: center;
  color: #8f8f8f;
  margin-bottom: 40px;
}
.portfolio .big {
  grid-row: span 2;
}
.portfolio ul img {
  width: 100%;
  height: auto;
  display: block;
}
.portfolio ul li {
  position: relative;
}
.portfolio ul li a{
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(243, 129, 129);
  background: linear-gradient(to bottom, rgba(243, 197, 160, .9) 0%, rgba(215, 86, 181, .9) 100%);
  transition: all 300ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'PermanentMarker', sans-serif;
  font-size: 30px;
  text-align: center;
  z-index: 2;
}
.portfolio ul li:hover a{
  opacity: 1;
}
/* _______________________________________________ */
/* ____________About_____________ */

.about{
  background-image:url(img/fondo.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 900px 750px;
  margin-top: 60px;
}
.about h2{
  padding-top: 40px;
}
.about .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 675px;
  column-gap: 3rem;
  padding-top: 60px;
  justify-content: flex-start;
}
.about .content figure{
  background-image: url(img/foto.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 500px;
}
.about .content article p {
  color: #272727;
  text-align: left;
  font-style: normal;
  font-size: 14px;
}
.about .content .social ul{
  display: flex;
  justify-content: left;
  /* align-items: center; */
  margin-bottom: 20px;
}
.about .content .social ul li{
  margin-top: 20px;
  padding: 10px 10px 3px;
  background-color: #ca2682;
  margin-right: 20px;
}
.about .content .social ul img{
  width: 20px;
}
.about .content .social ul li:hover{
  background-color: rgba(214, 79, 174, 0.8);
}
/* _______________________________________________ */
/* ____________Publications_____________ */

.publications p {
  color: #999;
  text-align: center;
  margin: 0px 100px 30px;
}
.publications ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start ;
}
.publications figure {
  position: relative;
  margin: 10px;
}
.publications figure ul{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
}
.publications .obra{
  color: #fff;
  font-style: normal;
  margin: 30px 0px 30px 200px;
}
figure:hover .overlay {
  opacity: 1;
}
.overlay {
  opacity: 0;
  transition: all 300ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(243, 129, 129);
  background: linear-gradient(to bottom, rgba(243, 197, 160, .9) 0%, rgba(215, 86, 181, .9) 100%);
  box-shadow: 10px 10px 0 var(--color-medium);
}
.overlay p a{
  color: #fff;
  font-family: 'PermanentMarker', sans-serif;
  font-size: 30px;

}
/* _______________________________________________ */
/* ____________Contact_____________ */

.contact {
  background-image:url(img/fondo.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 900px 750px;
  margin-top: 60px;
  margin-left: 0px;
}
.contact .title{
  padding-top: 40px;
}
.contact .title .border{
  margin-bottom: 50px;
}
.contact ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 1rem;
}
.contact .enlaces{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 40px;
  align-items: flex-start;
  max-width: 500px;
  margin-left: 250px;
}
.contact .enlaces a{
  margin-top: 10px;
  color: #343434;
}
.contact .enlaces a h3{
  font-size: 18px;
  text-transform: lowercase;
}
.contact .enlaces span{
  display: inline-block;
  position: relative;
  height: 40px;
  width: 1px;
  background-color: #402161;
  transition: all 0.5s cubic-bezier(0.34, 0.07, 0.1, 1);

}
.contact .enlaces .rrss{
  padding: 0px 10px 3px;
  background-color: #ca2682;
  margin-right: 20px;
}
.contact .enlaces .rrss img{
  width: 20px;
}
.contact .enlaces .rrss:hover{
  background-color: rgba(214, 79, 174, 0.8);
}
.contact .msg{
  margin-left: 470px;
}
.contact .msg ul{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 5px;
}
.contact ul li p {
  color: #343434;
  padding-top: 10px;
  font-size: 14px;
}
.contact ul li {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
.contact ul li input{
  width: 500px;
  box-sizing: border-box;
  border: 2px solid #ca2682;
  border-radius: 2px;
  outline: none;
  padding: 5px 5px;
  resize: none;
}
.contact ul li #message{
  padding: 100px 5px;
}
.contact ul li .send{
  margin: 30px 20px 60px;
  background-color: #ca2682;
  width: 150px;
  cursor: pointer;
  border: 2px solid #e586e8;
  font-family: 'PermanentMarker', sans-serif;
  color: #fff;
  font-size: 25px;
}
.contact ul li .send:hover{
  background-color: #e586e8;
  color: #000;
}
/* _______________________________________________ */
/* ____________Contact_____________ */

#main_footer p{
  color: #343434;
  font-size: 10px;
  margin: 0px 60px 30px;
}
#main_footer span{
  color: #ca2682;
}
/* _______________________________________________ */
/* ____________Responsive_____________ */

@media (max-width: 750px){
  /* Header */
  header.open nav {
    transform: translateX(0%);
  }
  #burger {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 40px;
    height: 25px;
    top: 70px;
    left: 2rem;
    cursor: pointer;
    z-index: 3;
  }
  #burger span {
    display: inline-block;
    position: relative;
    height: 5px;
    width: 40px;
    background-color: #402161;
    transition: all 0.5s cubic-bezier(0.34, 0.07, 0.1, 1);
  }
  #burger span:before, #burger span:after {
    content: '';
    height: 5px;
    width: 40px;
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: #402161;
    transition: all 0.5s cubic-bezier(0.34, 0.07, 0.1, 1);
  }
  #burger span:before {
    top: -10px;
  }
  #burger span:after {
    bottom: -10px;
  }
  header.open #burger span {
    background-color: transparent;
  }
  header.open #burger span:before {
    top: 0;
    transform: rotate(-45deg);
    background-color: #fff;
  }
  header.open #burger span:after {
    bottom: 0;
    transform: rotate(45deg);
    background-color: #fff;
  }
  nav {
    position: fixed;
    left: 0px;
    top: 35px;
    width: 340px;
    height: 450px;
    background-color: rgba(44, 21, 81, 0.95);
    transform: translateX(-100%);
    text-align: center;
    transition: all 300ms ease-in-out;
  }
  #main_header ul {
    margin: 100px 90px;
    text-align: left;
  }
  #main_header ul a {
    font-size: 24px;
    line-height: 2;
  }

  /* Hero */
  .hero {
    padding: 150px 0;
  }
  .hero h1 {
    font-size: 53px;
    margin-bottom: 16px;
    letter-spacing: -2px;
  }

  /* Portfolio */
  .portfolio ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .portfolio ul li a{
    font-size: 20px;
  }

  /* About */
  .about{
    background-size: cover;
  }
  .about .content {
    margin-left: 30px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 270px 1fr;
    /* column-gap: 3rem; */
    padding-top: 30px;
    justify-content: center;
  }
  .about .content figure{
    background-image: url(img/foto.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 200px;
    margin-bottom: 30px;
  }

  /* Publications */
  .publications ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin-left: 80px;
  }
  .publications figure img{
    max-width: 90%;
    height:auto;
  }

  /* Contact */
  .contact {
    background-size: cover;
  }
  .contact .enlaces{
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
    grid-row-gap: 10px;
    margin-left: 60px;
  }
  .contact .enlaces span{
    margin-top: 60px;
  }
  .contact .enlaces .rrss{
    margin-top: 60px;
    padding-right: 30px;
  }
  .contact .msg{
    margin-left: 10px;
  }
  .contact ul li input{
      width: 350px;
  }
}

@media (min-width: 751px) and (max-width: 1050px){
  /* Header */
  #main_header ul {
    max-width: 800px;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
  }
  #main_header ul a:hover{
    /* text-decoration: underline; */
    border-bottom: 2px solid #fce38a;
    padding-bottom: 3px;
  }

  /* Hero */
  .hero {
    padding: 200px 0;
  }
  .hero h1 {
    font-size: 90px;
    margin-bottom: 26px;
    letter-spacing: -3px;
  }

  /* Portfolio */
  .portfolio ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .portfolio ul li a{
    font-size: 25px;
  }

  /* About */
  .about{
    background-size: cover;
  }
  .about .content {
    margin-left: 30px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* column-gap: 3rem; */
    padding-top: 30px;
    justify-content: flex-start;
  }
  .about .content figure{
    background-image: url(img/foto.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 325px;
  }

  /* Publications */
  .publications figure img{
    max-width:97%;
    height:auto;
  }

  /* Contact */
  .contact {
    background-size: cover;
  }
  .contact .enlaces{
    margin-left: 75px;
  }
  .contact .msg{
    margin-left: 100px;
  }
}

@media (min-width: 1051px){
  /* Header */
  #main_header ul {
    max-width: 800px;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
  }
  #main_header ul a:hover{
    /* text-decoration: underline; */
    border-bottom: 2px solid #fce38a;
    padding-bottom: 3px;
  }

  /* Portfolio */
  .portfolio ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .portfolio ul li a{
    font-size: 30px;
  }


/* _______________________________________________ */
/* ____________!!!!_____________ */
